* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
}

header {
    margin-top: 30px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #696871;
}

h1 {
    font-size: 80px;
    line-height: 77px;
}

h2 {
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.5px;
}

h5{
    font-size: 18px;
}

li {
    list-style: none;
}

span {
    font-size: 28px;
}

strong {
    display: block;
    font-size: 60px;
    color: #1D293F;
    margin: 22px 0 28px;
}

.p-style {
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
    font-size: 20px;
    color: #696871;
    letter-spacing:  -0.6;
    margin: 30px 0px;
}

.p-h2{
    max-width: 459px;
}

.button-base{
   border: none;
   font-family:"DM sans", sans-serif;
   line-height: 19px;
   text-align: center;         
   font-size: 17px;
   padding: 19px 60px;
   cursor: pointer;
   }

   .radius-button{
    border-radius: 10px;
   }

.container {
    margin: 0 auto;
    max-width: 1165px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start{
    display: flex;
    align-items: flex-start;
   gap: 40px;
}

.header-ul{
  gap: 49px;
  color: #696871;
}

.border-blue:hover {
    color: #19191B;
    border-bottom: 2px solid #5454D4;
    padding-bottom: 10px;
}
.active {
    color: #19191B;
    border-bottom: 2px solid #5454D4;
    padding-bottom: 10px;
}

.l-more {
    color: #5454D4;
    height: 22px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.53px;
}

.logoipsum {
    margin-top: 100.18px;
    margin-bottom: 150px;
}

.hero-3D {
    margin-left: 110px;
}

.sub-ind {
    margin-right: 186px;
}

.metrics h2 {
    margin-top: 242px;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
}

.metrics p {
    height: 60px;
}

.img-cont2 {
    margin-top: 83px;
    margin-right: 195px;
}

.liste p {
    max-width: 307px;
    font-size: 16px;   
    line-height: 24px;
}

.icon {
    background: #C4C4C4;
    margin-top: 138px;
}

.liste {
    text-align: center;
}

.performance {
padding: 150px 164px 98px;
}

.performance h4 {
   font-size: 60px;
    max-width: 523px;
    line-height: 57px;
    letter-spacing: -1.5px;
}

.header-btn{
    background: #FF7143;
    color:#FFFFFF;
}

.blue-btn{
background: #5454D4;
color: #FFFFFF;
}

.btn-group {
   border-radius: 10px ;
    background:rgb(247, 247, 251);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.gray-btn {
    color: #19191B;
    background: #F7F7FB;
    padding: 23px 50px;
    width: 160px;
    height: 55px;
}

.card-btn{
    display: inline-block;
    margin-top: 36px;
    padding: 23px 82px;
    color: #5454D4;
    background-color: #FFFFFF;
}

.gray-btn:hover {
    background: #5454D4;
    color: #FFFFFF;
    padding: 23px 50px;
}

.card-btn:hover{
    background-color:  rgb(159, 57, 25);
    color:rgb(255, 255, 255, 1)
}

.cards {
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-bottom: 170px;
    padding-top: 85px;
}

.card {
    background: #F8F8F8;
    padding: 34px 21px 24px 24px;
    border-radius: 10px;
    text-align: center;
    color: #696871;
}

.card:hover {
    background: #FF7143;
    color: #FFFFFF;
    transform: scaleY(1.1);
}

.card:hover strong {
    color: #FFFFFF;
}

.card:hover h5 {
    opacity: 70%;
}

.card:hover ul{
    color: rgb(255, 255, 255 );
}

.card-list {
    margin-top: 25px;
    font-size: 17px;;
}